p, li{
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
img{
    padding-right: 10px;
    width: 40%;
    float: left;
}


.content{
    float: left;
    width: 69%;
    padding: 15px;
}
.side_bar{
    float: left;
    width: 31%;
    padding: 15px;
}


